@import "reset.css";

body
{
    padding: 1em;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: none !important;
}

header, footer, .buttons, .print, div.createAppointment, h3, .help, .messages,
nav, .screen
{
    display: none;
}

p
{
    text-align: justify;
    margin-bottom: 1em;
}

table
{
    margin-bottom: 1em;
    background: #fff;
}

th, td
{
    padding: 5px 10px;
    border: solid 1px #ccc;
		color: black;
}

tr:nth-child(odd) td
{
    background: #eee;
}

th
{
    font-weight: bold;
    background: #eee;
    text-align: left;
}

tr.conflict
{
    background-color: #ff0;
}

tr.conflict td:first-child
{
    text-decoration: underline;    
}

h2
{
    font-size: 20px;
    font-width: bold;
    margin-bottom: 1em;
		color: black;
}
