@import "reset.css";

html
{
    height: 100%;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    height: 100%;
}

a
{
    color: #00f;
    text-decoration: underline;    
}

p
{
    text-align: justify;
    line-height: 1.25em;
    margin-bottom: 1em;
}

table
{
    margin-bottom: 1em;
    background: #fff;
}

th, td
{
    padding: 5px 10px;
    border: solid 1px #ccc;
}

tr:nth-child(odd) td
{
    background: #f8f8f8;
}

th
{
    font-weight: bold;
    background: #eee;
    text-align: center;
}

pre
{
    font-family: "Courier New", monospace;
    background: #f8f8f8;
    padding: 5px 10px;
    border: solid 1px #ccc;
    margin-bottom: 1em; 
}

dl
{
    margin-bottom: 1em;
    line-height: 1.25em;
}

dt
{
    float: left;
    margin-right: 5px;
}

dt:after
{
    content: ":";
}

dd
{
    font-weight: bold;   
}


/*****************************************************************************
 * Header                                                                    *
 *****************************************************************************/

.page
{
    min-height: 100%;
    position: relative;
}

.page > header
{
    background-color: #eee;    
    border-bottom: solid 1px #ccc;
}

.page > header .content
{
    /*width: 980px;*/
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

.page > header h1
{
    font-size: 25px;
    font-weight: bold; 
}

.page > header h1 img
{
    vertical-align: middle;
    max-height: 64px; 
}

.page > header nav
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.page > header nav li
{
    display: inline;
}

.page > header nav li:before
{
    content: "|";
    margin-left: 5px;
    margin-right: 10px;
}

.page > header nav li:first-child:before
{
    content: "";
}


/*****************************************************************************
 * Admin and Teacher navigation bar                                          *
 *****************************************************************************/
 
nav.admin, nav.teacher
{
    background: #ddd;
    border-bottom: solid 1px #ccc;    
}

nav.admin ul, nav.teacher ul
{
    /*width: 980px;*/
    margin: 0 auto;
    padding: 10px 20px;
}

nav.admin li, nav.teacher li
{
    display: inline;
}

nav.admin li:after, nav.teacher li:after
{
    content: "|";
    margin-left: 10px;
    margin-right: 5px;
}

nav.admin li:last-child:after, nav.teacher li:last-child:after
{
    content: "";
}


/*****************************************************************************
 * Footer                                                                    *
 *****************************************************************************/

.page > footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: solid 1px #ccc;
}

.page > footer .copyright
{
    /*width: 980px;*/
    margin: 0 auto;
    text-align: center;
    height: auto;
    padding-bottom: 10px;
    position: relative;
}

.page > footer .content
{
    /*width: 980px;*/
    margin: 0 auto;
    height: 16px; 
    padding: 10px 20px;
    position: relative;
}

.page > footer nav
{
    position: absolute;
    left: 10px;
    top: 10px;
}

.page > footer nav li
{
    display: inline;
}

.page > footer nav li:before
{
    content: "|";
    margin-left: 5px;
    margin-right: 10px;
}

.page > footer nav li:first-child:before
{
    content: "";
}

/*****************************************************************************
 * Content area common stuff                                                 *
 *****************************************************************************/

#content
{
    /*width: 980px*/;
    margin: 0 auto;
    padding: 20px 20px 72px 20px;
}

#content h2
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 1em;
}

#content h3
{
    font-weight: bold;
    font-size: 17px;
    margin-top: 2em;
    margin-bottom: 1em;
}

#content h4
{
    font-weight: bold;
    font-size: 15px;
    margin-top: 2em;
    margin-bottom: 1em;
}

#content h2:first-child,
#content h3:first-child,
#content h4:first-child
{
    margin-top: 0;
}

#content form label
{
    display: block;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

#content form table label
{
    display: inline;
    margin: 0;
}

#content form .fields
{
    margin-bottom: 1em;
}

#content form .field.checkbox
{
    margin-top: 1em;
}

#content form .field.checkbox label
{
    display: inline;
    margin: 0;
}

#content form input[type=checkbox]
{
}

#content form .messages .error
{
    color: #f00;
    margin-top: 0.25em;
}

#content .messages.global
{
    margin-bottom: 1em;
    padding: 5px 10px;
    border: solid 1px #000;
    background: #ffffe0;
    border-radius: 3px;
}

#content .messages.global:empty
{
    display: none;
}

#content .messages.global .error
{
    color: #f00;
}

#content .messages.global .info
{
    color: #080;
}

#content .startbuttons
{
  margin-bottom: 1em;
}

#content .startbuttons *
{
    font-size: 1.3em;
    display: inline-block;
    margin-right: 15px;
    margin-top: 1em;
}

#content .startbuttons *:last-child
{
    margin-right: 0;
}

#content .print *
{
    float: left;
    margin-right: 10px;
}

#content .buttons
{
    margin-bottom: 1em;
}

#content .buttons .main
{
background-color=red;
}
#content .buttons *
{
    display: inline-block;
    margin-right: 10px;
}

#content .buttons *:last-child
{
    margin-right: 0;
}

#content th.buttons
{
    //border: none;
    //background: transparent;
}

/*****************************************************************************
 * Create appointment page                                                   *
 *****************************************************************************/

#createAppointment-page .reserved td,
#createTeacherAppointment-page .reserved td
{
    background-color: #fdd;
}

#createAppointment-page .free td,
#createTeacherAppointment-page .free td
{
    background-color: #dfd;
}

#createAppointment-page .own td,
#createTeacherAppointment-page .own td
{
    background-color: #ddf;
}


/*****************************************************************************
 * Appointments page                                                         *
 *****************************************************************************/

#appointments-page form .field,
#appointments-page form .fields,
#appointments-page form .buttons
{
    display: inline-block;
}

appointments-page form label
{
    margin-top: 0;
}

#appointments-page form .field
{
    margin-right: 20px;    
}

#appointments-page tr.conflict
{
    background-color: #ff8;
}

#appointments-page p.conflicts
{
    background-image: url(../images/icons/12x12/warning.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #ff8;
    padding: 5px 5px 5px 22px;
    border: 1px solid #884;
    border-radius: 3px;
}

#appointments-page tr.conflict:nth-child(odd) td
{
    background-color: #ff0;
}


/*****************************************************************************
 * Time slots page                                                           *
 *****************************************************************************/

#timeSlots-page form .field,
#timeSlots-page form .fields,
#timeSlots-page form .buttons
{
    display: inline-block;    
}

#timeSlots-page form label
{
    margin-top: 0;
}

#timeSlots-page form .field
{
    margin-right: 20px;    
}

/*****************************************************************************
 * Settings page                                                             *
 *****************************************************************************/

#settings-page .enabled
{
    font-weight: bold;
    color: #080;
}

#settings-page .disabled
{
    font-weight: bold;
    color: #f00;
}

#settings-page form .field,
#settings-page form .fields
{
    display: inline-block;
    margin-right: 10px;
}


/*****************************************************************************
 * Teacher appointments page                                                 *
 *****************************************************************************/

#teacherAppointments-page form .field,
#teacherAppointments-page form .fields,
#teacherAppointments-page form .buttons
{
    display: inline-block;
}

#teacherAppointments-page form label
{
    margin-top: 0;
}

#teacherAppointments-page form .field
{
    margin-right: 20px;    
}

#teacherAppointments-page .status
{
    text-align: center;
}

#teacherAppointments-page .free td
{
    background-color: #dfd;    
}

#teacherAppointments-page .reserved td
{
    background-color: #fdd;
}

#teacherAppointments-page .locked td
{
    background-color: #fee;
}

#teachers-page .inactive td
{
    background-color: #fee;
}

#teachers-page .active td
{
}

/*****************************************************************************
 * Styles editor                                                             *
 *****************************************************************************/

#styles-page textarea
{
   width: 100%;
   height: 512px;
   margin-bottom: 1em;
}
